@import "./variables.css";

.card_background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, var(--black-color), var(--blue-color) 70%);
    /* background: linear-gradient(0deg, var(--red-color), var(--light-color) 70%); */
}

.card_inner {
    font-family: var(--main-font);
    width: 600px;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
    /* background: url("../images/free-icon-decoration.png"), var(--light-color);
    background-repeat: repeat-x;
    background-position-y: -7px;
    background-size: 60px; */

    background: url("../images/snowflake.png"), var(--light-color);
    background-repeat: no-repeat;
    background-position: 15px 15px;
}

.img_decor_tree {
    position: absolute;
    top: 80vh;
    right: 500px;
}

.card_inner_close_btn {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    cursor:pointer;
    border: 0px;
    padding: 0px;
    background-color: var(--light-color);
}

.card_inner_close_img{
    width: 100%;
    filter: invert(15%) sepia(64%) saturate(314%) hue-rotate(182deg) brightness(94%) contrast(91%);
}

.card_inner_title {
    color: var(--red-color);
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card_inner_main {
    text-align: center;
}